In [1]:
import pandas as pd

#### Pandas version

In [3]:
pd.__version__

'2.3.0'

In [7]:
df=pd.read_csv('car_fuel_efficiency.csv')

In [9]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

### Records count

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [13]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

### Fuel types

In [15]:
df['fuel_type'].nunique()

2

### Missing values

In [58]:
missing_columns_count = df.isnull().sum()
columns_with_missing = missing_columns_count[missing_columns_count > 0]
num_columns_with_missing = len(columns_with_missing)

In [60]:
num_columns_with_missing

3

### Max fuel efficiency

In [17]:
asian_cars = df[df['origin'] == 'Asia']
max_fuel_efficiency_asian_cars = asian_cars['fuel_efficiency_mpg'].max()

In [19]:
max_fuel_efficiency_asian_cars

23.759122836520497

### Median value of horsepower

In [21]:
median_horsepower = df['horsepower'].median()

In [23]:
median_horsepower

149.0

In [25]:
most_frequent_horsepower = df['horsepower'].mode()[0]

In [27]:
most_frequent_horsepower

152.0

In [29]:
df['horsepower'] = df['horsepower'].fillna(most_frequent_horsepower)

In [31]:
new_median_horsepower = df['horsepower'].median()

In [33]:
new_median_horsepower

152.0

### Sum of weights

In [35]:
asian_cars = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']]

In [37]:
asian_cars_7 = asian_cars.head(7)

In [39]:
X = asian_cars_7.to_numpy()

In [41]:
XTX = X.T @ X

In [43]:
XTX_inv = np.linalg.inv(XTX)

In [45]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [47]:
w = XTX_inv @ X.T @ y

In [49]:
sum_w = w.sum()

In [51]:
print("Sum of all elements in w:", sum_w)

Sum of all elements in w: 0.5187709081074016